<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<section class="link" th:fragment="common-link">
    <!-- Custom fonts for this template -->
    <link href="http://15.164.45.122:9001/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://15.164.45.122:9001/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="http://15.164.45.122:9001/bootstrap/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


    <!-- Bootstrap core JavaScript-->
    <script src="http://15.164.45.122:9001/bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="http://15.164.45.122:9001/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="http://15.164.45.122:9001/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="http://15.164.45.122:9001/bootstrap/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="http://15.164.45.122:9001/bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="http://15.164.45.122:9001/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="http://15.164.45.122:9001/bootstrap/js/demo/datatables-demo.js"></script>
</section>
</body>