<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:word-wrap="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>직무학습</title>

    <section class="link" th:replace="common/link::common-link"></section>
<!--    &lt;!&ndash; Custom fonts for this template &ndash;&gt;-->
<!--    <link href="/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->
<!--    <link-->
<!--            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"-->
<!--            rel="stylesheet">-->

<!--    &lt;!&ndash; Custom styles for this template &ndash;&gt;-->
<!--    <link href="/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">-->

<!--    &lt;!&ndash; Custom styles for this page &ndash;&gt;-->
<!--    <link href="/bootstrap/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">-->
    <!-- eun costum-->
    <style>
        .line{
            width: 100%;
            height: 20px;
            display:flex;
        }
        .detailSide{
            width: 100px;
            font-size: 17px;
            text-align: center;
        }
    </style>
</head>

<body id="page-top">

<form name="write" action="/study-service/board/boardDetail" method="post">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <section class="content-side-bar" th:replace="common/sidebar::common-side-bar"></section>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <section class="content-top-bar" th:replace="common/topbar::common-top-bar"></section>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">게시판</h1>
                <br>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header row" style="float: right; align-items: center;">
                        <h6 class=" m-0 font-weight-bold text-primary" style="padding:6px; font-size: 17px;" >게시물 [[${boardDetail.idx}]]번</h6>
                    </div>
                        <div class="card-body">
                            <div>
                                <div class="line" style="width: 100%;"> <!--구분, 작성자 -->
                                    <div class="row" style="width: 30%;">
                                        <input type="hidden" th:value="${boardDetail.idx}" id="idx" name="idx">
                                        <div class="detailSide mb-0 font-weight-bold text-gray-800">
                                            구분
                                        </div>
                                        <div th:text="${boardDetail.gubun}"></div>
                                    </div>
                                    <div class="row" style="width: 70%; ">
                                        <div class="detailSide mb-0 font-weight-bold text-gray-800" style="position: absolute; right: 300px;">
                                            작성자
                                        </div>
                                        <div th:text="${boardDetail.writeuser}" style="position: absolute; right: 240px;"></div>
                                        <div class="detailSide mb-0 font-weight-bold text-gray-800" style="position: absolute; right: 120px;">
                                            작성일자
                                        </div>
                                        <div th:text="${boardDetail.writedt}" style="position: absolute; right: 30px; "></div>
                                    </div>
                                </div>
                                <!-- Divider -->
                                <hr>
                                <div class="line row"><!--제목-->
                                    <div class="detailSide mb-0 font-weight-bold text-gray-800">
                                        제목
                                    </div>
                                    <div th:text="${boardDetail.title}"></div>
                                </div>
                                <!-- Divider -->
                                <hr>
                                <div class="row"><!--내용-->
                                    <div class="detailSide mb-0 font-weight-bold text-gray-800">
                                        내용
                                    </div>
                                    <div class="card-body" style="height:270px; overflow: auto; padding-top: 0px; padding-left: 0px;" th:text="${boardDetail.content}"></div>
                                </div>
                                <!-- Divider -->
                                <hr>
                                <div class=""><!--댓글달기-->
                                    <div class="detailSide mb-0 font-weight-bold text-gray-800">
                                        댓글
                                    </div>
                                </div>
                                <div class="card-body bg-light" style="height: 150px; overflow: auto;">
                                    <table style="width: 100%;">
                                        <tr th:each="data: ${boardReply}" style=" border-bottom: #c0c1c8 1px dashed">
                                            <td name="writeuser" style="float: left; padding-top: 10px;" th:text="${data.writeuser}"></td>
                                            <td name="content" width="70%" style="word-break: break-all; padding-top: 10px;" th:text="${data.content}"></td>
                                            <td name="writedt" style="float: right; padding-top: 10px;" th:text="${data.writedt}"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <textarea name="replyContent" id="replyContent" class="mb-sm-0 nav-link" style="height: 50px; width: 80%; border:#adb5bd solid 1px;"></textarea>
                                        <input type="submit" value="등록" class="btn-primary btn d-sm-inline-block" style=" width: 10%; padding: 5px;"/>
                                        <input type="button" value="목록" class="btn btn-secondary d-sm-inline-block"
                                               style="width: 10%;"
                                               onclick="location.href='/study-service/board'"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <section class="content-footer-bar" th:replace="common/footer::common-footer-bar"></section>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<!--<script src="/bootstrap/vendor/jquery/jquery.min.js"></script>-->
<!--<script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!--&lt;!&ndash; Core plugin JavaScript&ndash;&gt;-->
<!--<script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>-->

<!--&lt;!&ndash; Custom scripts for all pages&ndash;&gt;-->
<!--<script src="/bootstrap/js/sb-admin-2.min.js"></script>-->

</form>
</body>

</html>