<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    <!-- Custom fonts for this template-->
    <link href="http://13.124.0.31:9001/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="http://13.124.0.31:9001/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<!-- script st-->
<script>

    function fnModuleInfo(idx) {
        var index = $(this).attr("id");
        console.log(idx);
        var qtypecd_d = 'qtypecd' + idx;
        console.log(qtypecd_d);
        var authcd_d = 'authcd' + idx;

        //qtypecd
        //var index = document.getElementById("idx").value;


        //var qtypecd = $("#qtypecd").eq(idx).val();
        //var authcd = $("#authcd").eq(idx).val();
        var qtypecd = document.getElementById(qtypecd_d).value;
        var authcd = document.getElementById(authcd_d).value;
        //console.log(qtypecd);
        //console.log(authcd);
        $('#dailyModal .modal-content').load("http://52.78.161.54:8000/study-service/queListPrint?qtypecd=" + qtypecd + "&authcd=" + authcd);
        $('#dailyModal').modal({});
    }
</script>
<!-- script ed-->
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <section class="content-side-bar" th:replace="common/sidebar::common-side-bar"></section>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <section class="content-top-bar" th:replace="common/topbar::common-top-bar"></section>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">문제분류별 문제보기</h1>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <!--                    <div class="card-header py-3">-->
                    <!--                        <h6 class="m-0 font-weight-bold text-primary">문제분류별 문제보기</h6>-->
                    <!--                    </div>-->

                    <form id="frm" name="frm" method="post">
                        <fieldset>
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">인증분야</h6>
                            </div>
                            <!--                            <legend class="m-0 font-weight-bold text-primary">인증분야</legend>-->

                            <div class="card border-0">
                                <div class="card-body">
                                    <fieldset style="border: #b9babc 1px solid">
                                        <legend class="text-gray-600"
                                                style="font-size: 15px; width: 100px; padding-left: 10px;">&nbsp;분야리스트</legend>
                                            <div class="card-body">
                                                <input type="checkbox"
                                                       th:each="data: ${queList}"
                                                       th:text="'&nbsp'+'&nbsp'+${data.authcdnm}+'&nbsp'+'&nbsp'+'&nbsp'+'&nbsp'+'&nbsp'+'&nbsp'"
                                                       th:onclick="location.href='http://52.78.161.54:8000/study-service/queTypeListDetail/'+[[${data.authcd}]]";/>
                                            </div>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>

                        <div class="card-body row">
                            <div class="col-xl-3 col-md-6 mb-4" th:each="data1, dt: ${queListDetail}">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="h4 mb-3 font-weight-bold text-md-center text-primary"
                                             style="border-bottom: #b9babc 2px dashed"
                                             th:text="${data1.authcdnm}">
                                        </div>
                                        <div class="h5 mb-3 font-weight-bold text-md-center text-gray-800"
                                             th:text="${data1.nm}">
                                        </div>
                                        <div class="h6 mb-2 font-weight-bold text-md-center text-gray-700"
                                             th:text="'('+${data1.quecnt}+'문제)'">
                                        </div>

                                        <!--                                    문제보기-->
                                        <input type="hidden" th:value="${data1.authcd}" id="authcd"
                                               th:attrappend="id=${dt.index}"/>
                                        <input type="hidden" th:value="${data1.cd}" id="qtypecd"
                                               th:attrappend="id=${dt.index}"/>
                                        <div class="text-center">
                                            <a class="btn btn-primary btn-icon-split"
                                               th:attrappend="id=${dt.index}"
                                               th:attr="onclick=|fnModuleInfo('${dt.index}')|"/>
                                                <!--onclick="fnModuleInfo(${dt.index})"-->
                                        <span class="icon text-white-50">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                                <span class="text">문제보기</span>
                                            </a>
                                        </div>

                                        <!-- Moa Modal-->
                                        <div class="modal fade" id="dailyModal" tabindex="-1" role="dialog"
                                             aria-labelledby="historyModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-xl" role="document">
                                                <div class="modal-content">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <section class="content-footer-bar" th:replace="common/footer::common-footer-bar"></section>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="http://13.124.0.31:9001/bootstrap/login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="http://13.124.0.31:9001/bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="http://13.124.0.31:9001/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="http://13.124.0.31:9001/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="http://13.124.0.31:9001/bootstrap/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="http://13.124.0.31:9001/bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="http://13.124.0.31:9001/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="http://13.124.0.31:9001/bootstrap/js/demo/datatables-demo.js"></script>
</body>

</html>